.inner img {
  transition: all 1s;
}

.inner {
  overflow: hidden;
}

.card:hover img {
  transform: scale(1.2);
}

.card:hover svg {
  transform: scale(1.2);
  rotate: 720deg;
  color: #ffc107;
}

.stretched-link svg {
  transition: all 1s;
  font-size: 50px;
  font-weight: unset;
}

.card-link button {
  padding: 0;
}
